In [1]:
import pandas as pd

In [10]:
census = pd.read_csv('../_CLEAN DATA/pop_estimates_by_state.csv', index_col='id', thousands=',')

In [11]:
census_pop_melted = pd.melt(census, id_vars=['state'])

In [29]:
census_pop_melted = census_pop_melted.rename(columns={'variable' : 'date', 'value' : 'est_pop'})

In [55]:
census_pop_melted['date'] = census_pop_melted['date'].astype(int)

In [56]:
census_pop_melted.head()

        state  date    est_pop
0  All states  2004  292805298
1     Alabama  2004    4530729
2      Alaska  2004     659286
3     Arizona  2004    5652404
4    Arkansas  2004    2749686

In [57]:
census_pop_indexed = census_pop_melted.set_index(['state', 'date'])

In [13]:
reporting = pd.read_csv('../_CLEAN DATA/statutes_by_state_by_penalty_enhancement.csv')

In [21]:
reporting.head()

,state,penalty_enhancement,race_religion_ethnicity,sexual_orientation,gender,gender_identity,disability,other
0,Alabama,"<a href=""http://codes.lp.findlaw.com/alcode/13...",YES,NO,NO,NO,YES,NO
1,Alaska,"<a href=""http://touchngo.com/lglcntr/akstats/s...",YES,NO,YES,NO,YES,NO
2,Arizona,"<a href=""http://www.azleg.gov/FormatDocument.a...",YES,YES,YES,NO,YES,NO
3,Arkansas,NaN,NO,NO,NO,NO,NO,NO
4,California,"<a href=""http://www.leginfo.ca.gov/cgi-bin/dis...",YES,YES,YES,YES,YES,YES

In [149]:
incidents = pd.read_csv('../_CLEAN DATA/state_hate_crime_totals_final.csv', na_values=['NA', '\xa0'])

In [150]:
incidents_indexed = incidents.set_index(['state', 'date'])

In [151]:
incidents_per_capita = pd.merge(incidents, census_pop_melted, on=('state', 'date'))

In [152]:
incidents_per_capita.head()

,date,state,race,religion,sexual_orientation,ethnicity,disability,gender,gender_identity,race_ethnicity_ancestry,est_pop
0,2015,Alabama,NaN,0,2,NaN,0,0.0,0.0,8.0,4858979
1,2015,Alaska,NaN,0,1,NaN,0,0.0,NaN,7.0,738432
2,2015,Arizona,NaN,52,57,NaN,5,0.0,0.0,162.0,6828065
3,2015,Arkansas,NaN,0,2,NaN,0,0.0,0.0,3.0,2978204
4,2015,California,NaN,191,188,NaN,4,1.0,26.0,427.0,39144818

### Join reporting info

In [153]:
reporting_nopen = reporting[[column for column in reporting.columns if column != 'penalty_enhancement']]

In [154]:
reporting_nopen.columns = ['state', 'race_religion_ethnicity_reporting', 'sexual_orientation_reporting', 'gender_reporting',
       'gender_identity_reporting', 'disability_reporting', 'other_reporting']

In [155]:
incidents_all = pd.merge(incidents_per_capita, reporting_nopen, on='state')

In [169]:
incidents_all.loc[lambda x: x['state'].isin(['Wyoming', 'Oklahoma', 'Wisconsin'])]

Empty DataFrame
Columns: [date, state, race, religion, sexual_orientation, ethnicity , disability, gender, gender_identity, race_ethnicity_ancestry, est_pop, race_religion_ethnicity_reporting, sexual_orientation_reporting, gender_reporting, gender_identity_reporting, disability_reporting, other_reporting, race_per_capita, religion_per_capita, sexual_orientation_per_capita, ethnicity _per_capita, disability_per_capita, gender_per_capita, gender_identity_per_capita, race_ethnicity_ancestry_per_capita, all_count, all_count_per_capita]
Index: []

[0 rows x 27 columns]

In [171]:
incidents_all['state'].value_counts()

New York          12
South Dakota      12
Maine             12
Iowa              12
Florida           12
West Virginia     12
Illinois          12
Nebraska          12
Colorado          12
Virginia          12
Ohio              12
Missouri          12
Oregon            12
Kansas            12
Massachusetts     12
Texas             12
North Dakota      12
Nevada            12
Kentucky          12
Tennessee         12
Idaho             12
Maryland          12
Connecticut       12
Delaware          12
South Carolina    12
Alaska            12
Washington        12
Utah              12
Arkansas          12
Georgia           12
New Mexico        12
North Carolina    12
Pennsylvania      12
Indiana           12
Michigan          12
Montana           12
California        12
Arizona           12
Minnesota         12
Vermont           12
New Jersey        11
Alabama           11
Mississippi        8
Louisiana          3
Name: state, dtype: int64

In [156]:
incidents_all.head()

,date,state,race,religion,sexual_orientation,ethnicity,disability,gender,gender_identity,race_ethnicity_ancestry,est_pop,race_religion_ethnicity_reporting,sexual_orientation_reporting,gender_reporting,gender_identity_reporting,disability_reporting,other_reporting
0,2015,Alabama,NaN,0,2,NaN,0,0.0,0.0,8.0,4858979,YES,NO,NO,NO,YES,NO
1,2014,Alabama,7.0,1,0,1.0,0,0.0,0.0,NaN,4846411,YES,NO,NO,NO,YES,NO
2,2013,Alabama,5.0,0,1,0.0,0,0.0,0.0,NaN,4830533,YES,NO,NO,NO,YES,NO
3,2012,Alabama,3.0,2,0,1.0,0,NaN,NaN,NaN,4816089,YES,NO,NO,NO,YES,NO
4,2011,Alabama,58.0,5,7,11.0,2,NaN,NaN,NaN,4801108,YES,NO,NO,NO,YES,NO

In [157]:
incidents_all.columns

Index(['date', 'state', 'race', 'religion', 'sexual_orientation', 'ethnicity ',
       'disability', 'gender', 'gender_identity', 'race_ethnicity_ancestry',
       'est_pop', 'race_religion_ethnicity_reporting',
       'sexual_orientation_reporting', 'gender_reporting',
       'gender_identity_reporting', 'disability_reporting', 'other_reporting'],
      dtype='object')

In [158]:
incidents_all[['race', 'religion', 'sexual_orientation', 'ethnicity ', 'disability', 'gender', 'gender_identity', 'race_ethnicity_ancestry']].sum(axis=1)

0       10.0
1        9.0
2        6.0
3        6.0
4       83.0
5       19.0
6        9.0
7       11.0
8        6.0
9        1.0
10       3.0
11       8.0
12       6.0
13       8.0
14       6.0
15       8.0
16       7.0
17       9.0
18       8.0
19       8.0
20       6.0
21       4.0
22       9.0
23     276.0
24     265.0
25     155.0
26     176.0
27     192.0
28     236.0
29     219.0
       ...
483    232.0
484    208.0
485    239.0
486    195.0
487    177.0
488    171.0
489    175.0
490     41.0
491     26.0
492     56.0
493     27.0
494     18.0
495     33.0
496     24.0
497     43.0
498     44.0
499     34.0
500     47.0
501     31.0
502      1.0
503      4.0
504     18.0
505      1.0
506     11.0
507      2.0
508      4.0
509      2.0
510     22.0
511     17.0
512     22.0
dtype: float64

In [159]:
import numpy as np

In [160]:
len(' ')

1

In [161]:
incidents_all['gender'] = incidents_all['gender'].replace('\xa0', '0')

In [162]:
incidents_all['gender'].values

array([  0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
         0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,   1.,   2.,   0.,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,
         0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   1.,
         0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
         1.,   2.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,   1.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  15.,  18.,   1.,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,   1.,   2.,   3.,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,
         4.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,
         0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
         0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,   0.,   0.,   6.,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,
         0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,
         0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
         1.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,   1.,   1.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,   3.,   8.,   4.,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,   0.,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,   0.,   0.,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan])

In [163]:
incidents_all['gender'].value_counts()

0.0     108
1.0       9
2.0       3
4.0       2
3.0       2
8.0       1
6.0       1
18.0      1
15.0      1
Name: gender, dtype: int64

In [165]:
incidents_all['all_count'] = incidents_all[['race', 'religion', 'sexual_orientation', 'ethnicity ', 'disability', 'gender', 'gender_identity', 'race_ethnicity_ancestry']].sum(axis=1)

In [166]:
count_columns = ['race', 'religion', 'sexual_orientation',
                 'ethnicity ', 'disability', 'gender',
                 'gender_identity', 'race_ethnicity_ancestry', 'all_count']

for col in count_columns:
    incidents_all[col + '_per_capita'] = incidents_all[col] / incidents_all['est_pop']

In [167]:
incidents_all.to_csv('../output/incidents_supplemented.csv')

In [172]:
incidents_all.head()

,date,state,race,religion,sexual_orientation,ethnicity,disability,gender,gender_identity,race_ethnicity_ancestry,...,race_per_capita,religion_per_capita,sexual_orientation_per_capita,ethnicity _per_capita,disability_per_capita,gender_per_capita,gender_identity_per_capita,race_ethnicity_ancestry_per_capita,all_count,all_count_per_capita
0,2015,Alabama,NaN,0,2,NaN,0,0.0,0.0,8.0,...,NaN,0.000000e+00,4.116091e-07,NaN,0.000000e+00,0.0,0.0,0.000002,10.0,0.000002
1,2014,Alabama,7.0,1,0,1.0,0,0.0,0.0,NaN,...,1.444368e-06,2.063383e-07,0.000000e+00,2.063383e-07,0.000000e+00,0.0,0.0,NaN,9.0,0.000002
2,2013,Alabama,5.0,0,1,0.0,0,0.0,0.0,NaN,...,1.035082e-06,0.000000e+00,2.070165e-07,0.000000e+00,0.000000e+00,0.0,0.0,NaN,6.0,0.000001
3,2012,Alabama,3.0,2,0,1.0,0,NaN,NaN,NaN,...,6.229121e-07,4.152747e-07,0.000000e+00,2.076374e-07,0.000000e+00,NaN,NaN,NaN,6.0,0.000001
4,2011,Alabama,58.0,5,7,11.0,2,NaN,NaN,NaN,...,1.208054e-05,1.041426e-06,1.457997e-06,2.291138e-06,4.165705e-07,NaN,NaN,NaN,83.0,0.000017