In [4]:
import pandas as pd
import requests

In [11]:
def get_html(url):
    r = requests.get(url)
    return r.text

## 2015

In [16]:
url_2015 = 'https://ucr.fbi.gov/hate-crime/2015/tables-and-data-declarations/12tabledatadecpdf'

In [17]:
html_2015 = get_html(url_2015)

In [18]:
d_2015 = pd.read_html(html_2015)

In [26]:
d_2015[0].head()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
0,Total,14997,283884034.0,1742,5850
1,Alabama,34,1252146.0,3,10
2,Alaska,33,734820.0,4,8
3,Arizona,101,6622880.0,21,276
4,Arkansas,279,2754543.0,4,5

In [27]:
d_2015[0].tail()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
48,West Virginia,229,1494503.0,12,41
49,Wisconsin,395,5580752.0,25,43
50,Wyoming,57,564577.0,1,2
51,Guam1,1,NaN,1,1
52,U.S. Virgin Islands1,1,NaN,0,0

In [28]:
d_2015_clean = d_2015[0]
d_2015_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [36]:
d_2015_clean = d_2015_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1'])]

In [37]:
d_2015_clean['date'] = 2015

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [49]:
d_2015_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2014

In [38]:
url_2014 = 'https://ucr.fbi.gov/hate-crime/2014/tables/table-12'

In [39]:
html_2014 = get_html(url_2014)

In [40]:
d_2014 = pd.read_html(html_2014)

In [41]:
d_2014[0].head()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
0,Total,15494,297926030.0,1666,5479
1,Alabama,39,794907.0,4,9
2,Alaska,33,732371.0,1,6
3,Arizona,99,6433584.0,22,265
4,Arkansas,270,2661818.0,5,8

In [43]:
d_2014[0].tail()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
48,U.S. Virgin Islands1,1,NaN,0,0
49,Washington,262,7051748.0,67,308
50,West Virginia,269,1648198.0,16,26
51,Wisconsin,397,5610210.0,22,51
52,Wyoming,63,579446.0,0,0

In [44]:
d_2014_clean = d_2014[0]
d_2014_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [45]:
d_2014_clean = d_2014_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1'])]

In [46]:
d_2014_clean['date'] = 2014

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [48]:
d_2014_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2013

In [12]:
url_2013 = 'https://ucr.fbi.gov/hate-crime/2013/tables/12tabledatadecpdf/table_12_agency_hate_crime_reporting_by_state_2013.xls'

In [13]:
html_2013 = get_html(url_2013)

In [50]:
d_2013 = pd.read_html(html_2013)

In [51]:
d_2013[1].head()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
0,Total,15016,295016072,1826,5928
1,Alabama,48,1147612,4,6
2,Alaska,33,730950,1,8
3,Arizona,81,6358545,21,155
4,Arkansas,265,2809536,20,27

In [52]:
d_2013[1].tail()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
48,Virgin Islands1,2,0,0,0
49,Washington,244,6967181,80,291
50,West Virginia,263,1670269,17,56
51,Wisconsin,402,5691976,21,50
52,Wyoming,63,577987,1,1

In [54]:
d_2013[1].columns

Index(['\nParticipating state', '\nNumber ofparticipatingagencies',
       '\nPopulationcovered', '\nAgenciessubmittingincidentreports',
       '\nTotalnumber ofincidentsreported'],
      dtype='object')

In [55]:
d_2013[1]['\nParticipating state'].unique()

array(['Total', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam1', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Virgin Islands1', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [56]:
d_2013_clean = d_2013[1]
d_2013_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [57]:
d_2013_clean = d_2013_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [58]:
d_2013_clean['date'] = 2013

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [61]:
d_2013_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2012

In [68]:
url_2012 = 'https://ucr.fbi.gov/hate-crime/2012/tables-and-data-declarations/12tabledatadecpdf/table_12_agency_hate_crime_reporting_by_state_2012.xls'

In [69]:
html_2012 = get_html(url_2012)

In [70]:
d_2012 = pd.read_html(html_2012)

In [71]:
d_2012[1].head()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
0,Total,13022,248809710,1730,5796
1,Alabama,8,141235,1,6
2,Alaska,5,315266,1,6
3,Arizona,81,5974180,22,176
4,Arkansas,265,2748544,17,30

In [72]:
d_2012[1].tail()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
47,Virgin Islands1,1,0,0,0
48,Washington,247,6890640,69,272
49,West Virginia,285,1733977,16,27
50,Wisconsin,400,5682618,22,68
51,Wyoming,59,555285,2,2

In [76]:
d_2012_clean = d_2012[1]
d_2012_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [77]:
d_2012_clean = d_2012_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [78]:
d_2012_clean['date'] = 2012

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [79]:
d_2012_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

## 2011

In [81]:
url_2011 = 'https://ucr.fbi.gov/hate-crime/2011/tables/table-12'

In [82]:
html_2011 = get_html(url_2011)

In [83]:
d_2011 = pd.read_html(html_2011)

In [84]:
d_2011[1].head()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
0,Total,14575,286010550.0,1944,6222
1,Alabama,98,2285487.0,50,83
2,Alaska,2,304924.0,1,8
3,Arizona,84,6225041.0,26,192
4,Arkansas,259,2804225.0,10,11

In [85]:
d_2011[1].tail()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmittingincidentreports,Totalnumber ofincidentsreported
47,Virgin Islands1,1,NaN,0,0
48,Washington,246,6822528.0,69,213
49,West Virginia,281,1689892.0,14,18
50,Wisconsin,399,5669896.0,22,76
51,Wyoming,63,561000.0,2,2

In [86]:
d_2011_clean = d_2011[1]
d_2011_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [87]:
d_2011_clean = d_2011_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [88]:
d_2011_clean['date'] = 2011

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [89]:
d_2011_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2010

In [90]:
url_2010 = 'https://ucr.fbi.gov/hate-crime/2010/tables/table-12-agency-hate-crime-reporting-by-state-2010.xls'

In [91]:
html_2010 = get_html(url_2010)

In [92]:
d_2010 = pd.read_html(html_2010)

In [93]:
d_2010[1].head()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmitting incidentreports,Total numberof incidentsreported
0,Total,14977,285001266,1949,6628
1,Alabama,331,3762738,12,19
2,Alaska,1,290334,1,7
3,Arizona,89,6328446,22,236
4,Arkansas,254,2752987,30,63

In [94]:
d_2010[1].tail()

,Participating state,Number ofparticipatingagencies,Populationcovered,Agenciessubmitting incidentreports,Total numberof incidentsreported
46,Virginia,413,8001024,53,175
47,Washington,250,6717480,56,232
48,West Virginia,277,1713013,17,33
49,Wisconsin,395,5682402,30,93
50,Wyoming,64,559126,2,2

In [95]:
d_2010_clean = d_2010[1]
d_2010_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [96]:
d_2010_clean = d_2010_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [97]:
d_2010_clean['date'] = 2010

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [103]:
d_2010_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2009

- Main URL Doesn't work (https://ucr.fbi.gov/hate-crime/2009)
- Did some sleuthing -- just replace the 2008 url with the 2009 one

In [114]:
url_2009 = 'https://www2.fbi.gov/ucr/hc2009/data/table_12.html'

In [115]:
html_2009 = get_html(url_2009)

In [116]:
d_2009 = pd.read_html(html_2009)

In [117]:
d_2009[0].head()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
0,Total,14422,278948317,2034,6604
1,Alabama,218,3211336,6,9
2,Alaska,2,289884,2,9
3,Arizona,93,6506963,25,219
4,Arkansas,256,2717288,41,74

In [118]:
d_2009[0].tail()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
46,Virginia,413,7882590,67,150
47,Washington,250,6651663,52,208
48,West Virginia,291,1674227,17,24
49,Wisconsin,391,5650571,21,54
50,Wyoming,63,539500,4,8

In [120]:
d_2009_clean = d_2009[0]
d_2009_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [121]:
d_2009_clean = d_2009_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [122]:
d_2009_clean['date'] = 2009

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [123]:
d_2009_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2008

In [151]:
url_2008 = 'https://www2.fbi.gov/ucr/hc2008/data/table_12.html'

In [152]:
html_2008 = get_html(url_2008)

In [153]:
d_2008 = pd.read_html(html_2008)

In [154]:
d_2008[0].head()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
0,Total,13690,269382053,2145,7783
1,Alabama,163,2802524,5,11
2,Alaska,2,286625,2,8
3,Arizona,89,6438728,26,185
4,Arkansas,260,2767575,36,91

In [155]:
d_2008[0].tail()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
46,Virginia,407,7767843,75,263
47,Washington,251,6538142,61,239
48,West Virginia,294,1636800,23,43
49,Wisconsin,379,5627967,29,92
50,Wyoming,62,528009,6,6

In [156]:
d_2008_clean = d_2008[0]
d_2008_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [157]:
d_2008_clean = d_2008_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [158]:
d_2008_clean['date'] = 2008

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [159]:
d_2008_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2007

- The HTML for 2007 is inconsistent
- Download XLS file and read in instead

In [190]:
url_2007 = '../supplemental_data/table12_2007.xls'

In [191]:
d_2007 = pd.read_excel(url_2007, header=2)

In [192]:
d_2007.head()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
0,Total,13241,260229972,2025,7624
1,Alabama,156,2388398,5,6
2,Alaska,1,284142,1,8
3,Arizona,78,5754940,26,161
4,Arkansas,265,2765195,27,33

In [145]:
d_2007.tail()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
46,Virginia,408,7710349,83,323
47,Washington,244,6437315,54,195
48,West Virginia,338,1686872,21,44
49,Wisconsin,374,5599350,21,69
50,Wyoming,62,516189,7,21

In [146]:
d_2007_clean = d_2007.copy()
d_2007_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [147]:
d_2007_clean = d_2007_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [148]:
d_2007_clean['date'] = 2007

In [161]:
d_2007_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2006

In [170]:
url_2006 = 'https://www2.fbi.gov/ucr/hc2006/table12.html'

In [171]:
html_2006 = get_html(url_2006)

In [172]:
d_2006 = pd.read_html(html_2006, header=0)

In [173]:
d_2006[0].head()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
0,Total,12620,255086543,2105,7722
1,Alabama,42,693540,1,1
2,Alaska,2,284014,1,6
3,Arizona,80,5889288,24,149
4,Arkansas,257,2739473,42,113

In [174]:
d_2006[0].tail()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
46,Virginia,399,7621121,91,341
47,Washington,253,6393124,56,177
48,West Virginia,340,1707846,18,34
49,Wisconsin,371,5556506,25,84
50,Wyoming,62,503327,4,5

In [175]:
d_2006_clean = d_2006[0]
d_2006_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [176]:
d_2006_clean = d_2006_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [177]:
d_2006_clean['date'] = 2006

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [178]:
d_2006_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2005

In [179]:
url_2005 = 'https://www2.fbi.gov/ucr/hc2005/table12.htm'

In [180]:
html_2005 = get_html(url_2005)

In [183]:
d_2005 = pd.read_html(html_2005, header=0)

In [184]:
d_2005[0].head()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
0,Total,12417,245006413,2037,7163
1,Alabama,32,455247,0,0
2,Alaska,1,276109,1,4
3,Arizona,78,4202942,26,138
4,Arkansas,205,1703545,66,134

In [185]:
d_2005[0].tail()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
46,Virginia,395,7517151,68,295
47,Washington,252,6281630,55,171
48,West Virginia,349,1679815,17,47
49,Wisconsin,359,5289551,20,46
50,Wyoming,51,380216,3,3

In [186]:
d_2005_clean = d_2005[0]
d_2005_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [187]:
d_2005_clean = d_2005_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [188]:
d_2005_clean['date'] = 2005

/Users/pbaumgartner/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [189]:
d_2005_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## 2004

- 2004 doesn't have an HTML Table 12
- Download excel and read

In [193]:
url_2004 = '../supplemental_data/Table12_2004.xls'

In [194]:
d_2004 = pd.read_excel(url_2004, header=2)

In [195]:
d_2004.head()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
0,Total,12711,254193439,2046,7649
1,Alabama,51,527267,3,3
2,Alaska,1,273714,1,9
3,Arizona,82,5554597,19,224
4,Arkansas,192,1632735,50,93

In [196]:
d_2004.tail()

,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported
46,Virginia,395,7399760,68,307
47,Washington,253,6203788,51,175
48,West Virginia,431,1815354,12,31
49,Wisconsin,369,5509026,19,37
50,Wyoming,42,349046,4,4

In [198]:
d_2004_clean = d_2004.copy()
d_2004_clean.columns = ['Participating State', 'Number of Participating Agencies',
                        'Population Covered', 'Agencies Submitting Incident Reports',
                        'Total Number of Incidents Reported']

In [199]:
d_2004_clean = d_2004_clean.loc[lambda x: ~x['Participating State'].isin(['Total', 'Guam1', 'U.S. Virgin Islands1', 'Virgin Islands1'])]

In [200]:
d_2004_clean['date'] = 2004

In [201]:
d_2004_clean['Participating State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## Combination

In [202]:
all_dataframes = [d_2004_clean,
                  d_2005_clean,
                  d_2006_clean,
                  d_2007_clean,
                  d_2008_clean,
                  d_2009_clean,
                  d_2010_clean,
                  d_2011_clean,
                  d_2012_clean,
                  d_2013_clean,
                  d_2014_clean,
                  d_2015_clean]

In [204]:
combined_data = pd.concat(all_dataframes)

In [206]:
# Validate state counts
# Note New Jersey did not report 2008
combined_data['Participating State'].value_counts()

Maine                   12
District of Columbia    12
Alabama                 12
New Hampshire           12
Nevada                  12
Illinois                12
Rhode Island            12
Utah                    12
Florida                 12
Vermont                 12
Wyoming                 12
Kansas                  12
Virginia                12
Washington              12
West Virginia           12
Massachusetts           12
Arizona                 12
Tennessee               12
New Mexico              12
Colorado                12
Minnesota               12
Ohio                    12
Connecticut             12
Idaho                   12
Iowa                    12
Alaska                  12
South Carolina          12
Texas                   12
Missouri                12
Pennsylvania            12
Nebraska                12
North Carolina          12
California              12
Oregon                  12
Arkansas                12
Louisiana               12
Delaware                12
North Dakota            12
Kentucky                12
Mississippi             12
New York                12
Michigan                12
Wisconsin               12
Indiana                 12
Maryland                12
Montana                 12
Oklahoma                12
South Dakota            12
Georgia                 12
New Jersey              11
Name: Participating State, dtype: int64

In [207]:
combined_data.columns

Index(['Participating State', 'Number of Participating Agencies',
       'Population Covered', 'Agencies Submitting Incident Reports',
       'Total Number of Incidents Reported', 'date'],
      dtype='object')

In [210]:
# reorganize columns
combined_data = combined_data[['Participating State', 'date', 'Number of Participating Agencies',
       'Population Covered', 'Agencies Submitting Incident Reports',
       'Total Number of Incidents Reported']]

In [211]:
combined_data.head()

,Participating State,date,Number of Participating Agencies,Population Covered,Agencies Submitting Incident Reports,Total Number of Incidents Reported
1,Alabama,2004,51,527267.0,3,3
2,Alaska,2004,1,273714.0,1,9
3,Arizona,2004,82,5554597.0,19,224
4,Arkansas,2004,192,1632735.0,50,93
5,California,2004,725,35893799.0,245,1393

In [213]:
combined_data.to_csv('../output/table_12_2004-2015.csv')